$clr-accent: hsl(12, 88%, 59%);
$clr-primary: hsl(228, 39%, 23%);

$clr-neutral-blue--light: hsl(227, 12%, 61%);
$clr-neutral-blue--dark: hsl(233, 12%, 13%);
$clr-neutral-pale: hsl(13, 100%, 96%);
$clr-neutral-white: hsl(0, 0%, 98%);

$clr-alert: #D22B2B;