@font-face {
  font-family: 'Vietnam-400';
  src: url('/assets/fonts/BeVietnamPro-Regular.ttf');
}

@font-face {
  font-family: 'Vietnam-500';
  src: url('/assets/fonts/BeVietnamPro-Medium.ttf');
}

@font-face {
  font-family: 'Vietnam-700';
  src: url('/assets/fonts/BeVietnamPro-Bold.ttf');
}