@use './colors' as *;

$fs-xl: 2.7rem;
$fs-l: 2rem;
$fs-m: 1.5rem;
$fs-s: 1rem;
$fs-xs: .9rem;
$fs-xxs: .6rem;

$ff-400: 'Vietnam-400';
$ff-500: 'Vietnam-500';
$ff-700: 'Vietnam-700';

html {
  font-size: 16px;
}

//* ==================
//* Layout
//* ==================


.product {
  &__title {
    font-family: $ff-700;
    font-size: $fs-m;
    color: $clr-primary;
  }

  &__desc {
    font-family: $ff-400;
    font-size: $fs-s;
    color: $clr-neutral-blue--light;
    line-height: 1.7;
  }
}

.feedback {
  &__header {
    font-family: $ff-700;
    font-size: $fs-m;
    color: $clr-primary;
  }
}

.cta {
  &__header {
    font-family: $ff-500;
    font-size: $fs-l;
    color: $clr-neutral-white; 
  }
}

.footer {
  &__links-wrapper {
    font-family: $ff-500;
    font-size: $fs-xs;
    color: $clr-neutral-white;
  }

  &__link {
    a {
      cursor: pointer;
      transition: .2s ease;
  
        &:hover,
        &:active {
          color: $clr-accent;
        }
    }
  }

  &__email {
    font-family: $ff-500;
    font-size: $fs-xs;
    color: $clr-primary;
  }

  &__copyright {
    font-family: $ff-400;
    font-size: $fs-xs;
    color: $clr-neutral-blue--light;
  }
}




//* ==================
//* Components
//* ==================


.navbar {
  &__items {
    font-family: $ff-700;
    font-size: $fs-s;
    color: $clr-primary;
  }
}

.btn {
  font-family: $ff-500;
  font-size: $fs-s;
}

.card-main {
  &__title {
    font-family: $ff-700;
    font-size: $fs-l;
    color: $clr-primary;
  }

  &__body {
    font-family: $ff-400;
    font-size: $fs-s;
    color: $clr-neutral-blue--light;
    line-height: 1.7;
  }
}

.card-list {
  &__title {
    font-family: $ff-700;
    font-size: $fs-s;
    color: $clr-primary;
  }

  &__number {
    font-family: $ff-700;
    font-size: $fs-xs;
    color: $clr-neutral-white;
  }

  &__body {
    font-family: $ff-400;
    font-size: $fs-xs;
    line-height: 1.9; 
    color: $clr-neutral-blue--light;
  }
}

.card-feedback {
  &__username {
    font-family: $ff-700;
    font-size: $fs-s;
    color: $clr-primary;
  }

  &__body {
    font-family: $ff-400;
    font-size: $fs-xs;
    color: $clr-neutral-blue--light;
  }
}



//* ================
//* Desktop
//* ================

@media screen and (min-width: 1024px) {

  .card-main {
    &__title {
      font-size: $fs-xl;
      line-height: 1.3;
    }
  }

  .card-list {
    &__title {
      font-size: $fs-m;
    }
  
    &__number {
      font-size: $fs-s;
    }
  
    &__body {
      font-size: $fs-s;
    }
  }

  .card-feedback {
    &__username {
      font-size: $fs-m;
    }
  
    &__body {
      font-size: $fs-s;
    }
  }

  .product {
    &__title {
      font-size: $fs-l;
    }
  
    &__desc {
      font-size: $fs-s;
    }
  }

  .footer {
    &__links-wrapper {
      font-size: $fs-s;
    }

    &__email {
      font-size: $fs-s;
    }
  }
}
