@use './colors' as *;

$fs-xl: 4.5em;
$fs-l: 3em;
$fs-m: 2em;
$fs-s: 1em;
$fs-xs: .9em;
$fs-xxs: .6em;

$ff-400: 'Vietnam-400';
$ff-500: 'Vietnam-500';
$ff-700: 'Vietnam-700';

html {
  font-size: 16px;
}

//* ==================
//* Layout
//* ==================

.feedback {
  &__header {
    font-family: $ff-700;
    font-size: $fs-m;
    color: $clr-neutral-blue--dark;
  }
}

.cta {
  &__header {
    font-family: $ff-700;
    font-size: $fs-m;
    color: $clr-neutral-white; 
  }
}

.footer {
  &__links-wrapper {
    font-family: $ff-500;
    font-size: $fs-xs;
    color: $clr-neutral-white;
  }

  &__link {
    a {
      cursor: pointer;
      transition: .2s ease;
  
        &:hover,
        &:active {
          color: $clr-accent;
        }
    }
  }

  &__email {
    font-family: $ff-500;
    font-size: $fs-xs;
    color: $clr-neutral-blue--dark;
  }

  &__copyright {
    font-family: $ff-400;
    font-size: $fs-xs;
    color: $clr-neutral-blue--light;
  }
}




//* ==================
//* Components
//* ==================


.navbar {
  &__items {
    font-family: $ff-700;
    font-size: $fs-s;
    color: $clr-neutral-blue--dark;
  }
}

.btn {
  font-family: $ff-500;
  font-size: $fs-xs;
}

.card-main {
  &__title {
    font-family: $ff-700;
    font-size: $fs-m;
    color: $clr-neutral-blue--dark;
  }

  &__body {
    font-family: $ff-400;
    font-size: $fs-s;
    color: $clr-neutral-blue--light;
    line-height: 1.7;
  }
}

.card-list {
  &__title {
    font-family: $ff-700;
    font-size: $fs-s;
    color: $clr-neutral-blue--dark;
  }

  &__number {
    font-family: $ff-700;
    font-size: $fs-s;
    color: $clr-neutral-white;
  }

  &__body {
    font-family: $ff-400;
    font-size: $fs-xs;
    line-height: 1.9; 
    color: $clr-neutral-blue--light;
  }
}

.card-feedback {
  &__username {
    font-family: $ff-700;
    font-size: $fs-s;
    color: $clr-neutral-blue--dark;
  }

  &__body {
    font-family: $ff-400;
    font-size: $fs-xs;
    color: $clr-neutral-blue--light;
  }
} 