@use './colors' as *;

$fs-xl: 4.5em;
$fs-l: 3em;
$fs-m: 2em;
$fs-s: 1.2em;
$fs-xs: 1em;
$fs-xxs: .8em;

$ff-400: 'Vietnam-400';
$ff-500: 'Vietnam-500';
$ff-700: 'Vietnam-700';

html {
  font-size: 16px;
}





//* ==================
//* Components
//* ==================

.btn {
  font-family: $ff-500;
  font-size: $fs-xs;
}

.card-main {
  &__title {
    font-family: $ff-500;
    font-size: $fs-l;
    color: $clr-neutral-blue--dark;
  }

  &__body {
    font-family: $ff-400;
    font-size: $fs-s;
    color: $clr-neutral-blue--light;
  }
}