@use '../base/' as *;

.card-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: $spacer-xs;

    &__button {
      margin-top: $spacer-s;
    }
}

.product__card-2 {
  margin-block: 3rem;
}

.card-list {
  max-width: 500px;
  display: flex;
  flex-direction: column;

    &__number {
      background-color: $clr-accent;
      text-align: center;
      border-radius: 30px;
      padding: 8px 20px;
      margin-left: -3px;
      z-index: 2;
    }

    &__header {
      justify-self: center;
      background-color: $clr-neutral-pale;
      border-radius: 30px;
      padding-block: 4px;
    }

    &__title {
      margin-left: 5px;
    }

    &__body {
      margin-top: $spacer-xs;
    }
}

.card-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: $spacer-s;
}


//* =====================
//* Desktop
//* =====================

@media screen and (min-width: 1024px) {
  .card-main {
    align-items: flex-start;
    text-align: left;
  }

  .card-list {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
    "title title"
    ". bottom";

    &__header {
      grid-area: title;
      justify-self: start;
      background-color: transparent;
      width: 100%;

      display: grid;
      grid-template-columns: 20% 80%;
    }

    &__number {
      margin: 0;
      grid-column: 1/2;
      align-self: center;
      width: 70%;
    }

    &__title {
      margin: 0;
      grid-column: 2/3;
      align-self: center;
    }

    &__body {
      grid-area: bottom;
    }
  } 
}