@use '../base/' as *;

.swiper {
  width: 100%;
  height: 100%;
  margin-block: $spacer-s;
}

.swiper-slide {
  text-align: center;
  background: $clr-neutral-white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  display: block;
}

.swiper-pagination-bullet {
  opacity: 1;
  background: $clr-neutral-white;
  border: 1px solid $clr-accent;
}

.swiper-pagination-bullet-active {
  background: $clr-accent;
}



//* =============
//* Desktop
//* =============

@media screen and (min-width: 1024px) {

  .swiper {
    max-width: 98%;
  }

  .swiper-wrapper {
    width: 100%;
    justify-content: space-between;
  }

  .swiper-slide  {
    width: 20%;
  }

  .swiper-pagination {
    display: none;
  }
}
