@use '../base/' as *;


// So that background blobs don't cause horizontal scrolling
.main {
  position: relative;
  overflow: hidden;
}

.hero {
  margin-top: $spacer-m;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacer-xs;
}

.product {
  margin-top: $spacer-xxl;
  
  display: flex;
  flex-direction: column;
  gap: $spacer-m;

    &__header {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: $spacer-s;
    }

    &__cards {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
}



//* ================
//* Feedback
//* ================

.feedback {
  margin-top: $spacer-m;

    &__header {
      text-align: center;
    }

    &__container {
      display: flex;
      flex-direction: column;
    }

    &__button {
      align-self: center;
    }
}



//* ================
//* CTA
//* ================

.cta {
  // This is for the background blob
  position: relative;
  overflow: hidden;

  margin-top: $spacer-m;

  background-color: $clr-accent;
  padding-block: $spacer-xl;

  text-align: center;

    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $spacer-m;

        & > * {
          position: relative;
          z-index: 3;
        }

    }


    &__button {
      // margin: $spacer-m;

      
    }
}



//* ================
//* Footer
//* ================

.footer {
  background-color: $clr-neutral-blue--dark;
  padding-block: $spacer-m;

    &__wrapper {
      display: grid;
      grid-template-areas: 
        "email email"
        "links-1 links-2"
        "social social"
        "logo logo"
        "copyright copyright";
        
      justify-items: center;
      gap: $spacer-m;
    }

    &__subscribe {
      grid-area: email;
      display: flex;
      flex-direction: column;
    }

    &__form {
      display: flex;
      gap: 10px;
    }

    &__email {
      border: none;
      padding-inline: 15px;
      border-radius: 30px;
      width: 80%;
      
        &:focus {
          outline: 3px solid $clr-accent;
        }
    }

    &__alert {
      margin: .2rem 0 0 .8rem;
    }

    &__links-1 {
      grid-area: links-1;
    }

    &__links-2 {
      grid-area: links-2;
    }

    &__link {
      &:not(:first-child) {
        margin-top: $spacer-xs;
      }
    }

    &__social {
      grid-area: social;
      justify-self: start;
      width: 100%;

      display: flex;
      justify-content: space-between;
    }

    &__social-icon {
      &:hover,
      &:focus {
        filter: invert(54%) sepia(59%) saturate(4783%) hue-rotate(340deg) brightness(100%) contrast(90%);
      }

      img {
        width: 35px;
      }
    }

    &__logo {
      grid-area: logo;
      width: 60%;
    }

    &__copyright {
      grid-area: copyright;
    }
}



//* ================
//* Blobs
//* ================

.blob {
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;

    &__top {
      background-image: url('./assets/img/bg-tablet-pattern.svg');
      z-index: -1;
      width: 600px;
      height: 600px;
      
      top: -190px;
      left: 50px;
    }

    &__hero {
      background-image: url('./assets/img/bg-tablet-pattern.svg');
      z-index: -1;
      width: 300px;
      height: 300px;
     
      top: 540px;
      right: -160px;
    }

    &__cta {
      background-image: url('./assets/img/bg-simplify-section-mobile.svg');
      width: 350px;
      height: 350px;
      z-index: 2;
    
      top: 40px;
      left: -10px;
    }
}



//* ================
//* Desktop
//* ================

@media screen and (min-width: 1024px) {
  .hero {
    margin-top: $spacer-xl;
    flex-direction: row;
    justify-content: space-between;

      &__card {
        order: -1;
        width: 40%;
      }

      &__img {
        width: 45%;
      }
  }

  .product {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;

      &__header {
        width: 35%;
        text-align: left;
      }

      &__cards {
        width: 45%;
      }

      &__desc {
        margin-top: $spacer-s;
      }
  }

  .feedback {
    margin-top: $spacer-xxl;
  }

  .cta {    
    text-align: left;

      &__wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      &__header {
        width: 40%;
        margin: 0;
      }
  }

  .footer {
    &__wrapper {
      grid-template-areas: 
        "logo links-1 links-2 email"
        "social links-1 links-2 copyright";
      gap: $spacer-xl;
    }

    &__logo {
      width: 90%;
      justify-self: center;
    }

    &__social-icon {
      width: 30px;
    }
  }

  .blob {
    &__top {
      width: 850px;
      height: 850px;

      top: -200px;
      left: 850px;
    }

    &__hero {
      width: 850px;
      height: 850px;

      top: 1120px;
      right: 0;
      left: -500px;
    }

    &__cta {
      background-image: url('./assets/img/bg-simplify-section-desktop.svg');
      width: 1800px;
      height: 1800px;

      top: -150px;
      left: 100px;
    }
  }
}