@font-face {
  font-family: "Vietnam-400";
  src: url("/assets/fonts/BeVietnamPro-Regular.ttf");
}
@font-face {
  font-family: "Vietnam-500";
  src: url("/assets/fonts/BeVietnamPro-Medium.ttf");
}
@font-face {
  font-family: "Vietnam-700";
  src: url("/assets/fonts/BeVietnamPro-Bold.ttf");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 16px;
}

.btn {
  font-family: "Vietnam-500";
  font-size: 1em;
}

.card-main__title {
  font-family: "Vietnam-500";
  font-size: 3em;
  color: hsl(233deg, 12%, 13%);
}
.card-main__body {
  font-family: "Vietnam-400";
  font-size: 1.2em;
  color: hsl(227deg, 12%, 61%);
}

.card-list__title {
  font-family: "Vietnam-700";
  font-size: 1.2em;
  color: hsl(233deg, 12%, 13%);
}
.card-list__number {
  font-family: "Vietnam-700";
  font-size: 1.2em;
  color: hsl(0deg, 0%, 98%);
}
.card-list__body {
  font-family: "Vietnam-400";
  font-size: 1em;
  color: hsl(227deg, 12%, 61%);
}

.card-feedback__username {
  font-family: "Vietnam-700";
  font-size: 1.2em;
  color: hsl(233deg, 12%, 13%);
}
.card-feedback__body {
  font-family: "Vietnam-400";
  font-size: 1em;
  color: hsl(227deg, 12%, 61%);
}

.btn-primary {
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 5rem;
  background-color: hsl(12deg, 88%, 59%);
  color: hsl(0deg, 0%, 98%);
  -webkit-box-shadow: 0px 13px 14px -6px rgba(34, 60, 80, 0.3);
  -moz-box-shadow: 0px 13px 14px -6px rgba(34, 60, 80, 0.3);
  box-shadow: 0px 13px 14px -6px rgba(34, 60, 80, 0.3);
  transition: 0.3s ease;
}
.btn-primary:hover, .btn-primary:active {
  background-color: #f58266;
  color: white;
}

.btn-neutral {
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 5rem;
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(12deg, 88%, 59%);
  -webkit-box-shadow: 0px 13px 14px -6px rgba(34, 60, 80, 0.3);
  -moz-box-shadow: 0px 13px 14px -6px rgba(34, 60, 80, 0.3);
  box-shadow: 0px 13px 14px -6px rgba(34, 60, 80, 0.3);
  transition: 0.3s ease;
}
.btn-neutral:hover, .btn-neutral:active {
  background-color: white;
  color: #f79a82;
}

.card-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.card-main__button {
  margin-top: 2rem;
}

.card-list {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: "number title" "bottom bottom";
}
.card-list__number {
  grid-area: number;
  align-self: start;
  justify-self: start;
  background-color: hsl(12deg, 88%, 59%);
  border-radius: 20px;
  padding: 3px 20px;
  text-align: center;
  z-index: 2;
}
.card-list__title {
  grid-area: title;
  align-self: center;
  background-color: hsl(13deg, 100%, 96%);
  border-radius: 20px;
  padding: 2px 15px 2px 30px;
  margin-left: -60px;
}
.card-list__body {
  grid-area: bottom;
}

.card-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

@media screen and (min-width: 1024px) {
  .card-main {
    align-items: flex-start;
    text-align: left;
  }
  .card-list {
    grid-template-areas: "number title" "number body";
  }
  .card-list__number {
    grid-area: number;
  }
  .card-list__title {
    grid-area: title;
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
  .card-list__body {
    grid-area: body;
  }
}
